<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css" />
</head>
<body>
    <div class="container">
hii
<span style="color:red;"> 
    <i class="fa-solid fa-bridge-suspension"></i></span>
    <i class="fa-thin fa-alarm-clock"></i>
    </div>
    
    <i class="fab fa-500px"></i>
    <i class="fa fa-car" style="font-size:48px;"></i>
    <i class="fa fa-airplay" style="font-size:48px;"></i>
</body>
</html>